#parser_param .selector_method {
    display: none;
}
#parser_param input {
    width: 100%;
}
#parser_param .test_parser {
    display: flex;
    align-items: center;
}
#parser_param .test_parser .result_parser {
    margin-left: 15px;
    display: none;
}