#parser_settings .selector_method {
    display: none;
}
#parser_settings input {
    width: 100%;
}
#parser_settings .test_parser {
    display: flex;
    align-items: center;
}
#parser_settings .test_parser .result_parser {
    margin-left: 15px;
    display: none;
}
#parser-chart-container {
    width: 100%;
    overflow: unset !important;
}